* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.date-1 {
	.form-control {
		border-radius: 0rem !important;
		&:focus {
			box-shadow: none !important;
			border: 1px solid #ced4da !important;
		}
	}
}
.date-report {
	background-color: #06bdff;
}
.btn-search {
	background-color: #06bdff;
	padding: 5px 10px;
	border-radius: 0.375rem;
	border: 1px solid transparent;
}
.date-btn {
	background-color: #06bdff;
	height: 40px !important;
	border: 2px solid #06bdff;
	border-radius: 20px;
	width: auto;
	align-items: center;
	button {
		color: #fff;
		font-weight: 600;
		padding: 5px;
		text-decoration: none;
	}
	.active {
		border: 1px solid transparent !important;
		border-radius: 20px;
		padding: 5px 10px;
		margin: 4px 0px;
		background-color: white !important;
		color: #06bdff !important;
	}
}
.nav-tabs {
	border-bottom: none !important;
	.nav-link {
		border: none !important;
	}
}
.nav-link {
	color: #fff;
	transition: none !important;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border: none !important;
}

#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.page {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.wrapper {
    margin-top: 100px;
}

.page-title-box {
    padding: 24px 0px;
    color: #0f1f3e;
}

.page-title-box .page-title {
    font-size: 16px;
    text-transform: uppercase;
}

.page-title-box .dropdown-menu.show {
    margin-top: 10px !important;
}

.page-title-box .dropdown-menu.show:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #ffffff;
    top: -6px;
    left: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -2px -2px 0.25rem rgba(108, 118, 134, 0.1);
    box-shadow: -2px -2px 0.25rem rgba(108, 118, 134, 0.1);
}

.page-title-box .dropdown-menu-right.show:before {
    right: 24px;
    left: auto;
}

.content-page {
    margin-left: 240px;
    overflow: hidden;
    min-height: 500px;
    /* / bottom: 0; / */
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.content-page>.content {
    margin-top: 70px;
    margin-bottom: 63px;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .content-page {
        margin-left: 0 !important;
    }

    .wrapper-page {
        width: 90%;
    }
}

@media print {
    .content {
        margin-top: 0;
        padding-top: 0;
    }

    .content-page {
        margin-left: 0 !important;
        margin-top: 0;
    }

    .container-fluid {
        width: 100%;
    }
}
